.transitionOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 50;
}

.paperTexture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent 0%, rgba(254, 245, 231, 0.95) 100%);
}

.sparkleTransition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.transitionSparkle {
  position: absolute;
  font-size: 1.2rem;
}

.heartsDissolve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dissolvingHeart {
  position: absolute;
  font-size: 1.5rem;
}
